h1 {
  text-align: center;
}
input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form {
  display: flex;
  gap: 10px;
}
.texto {
  flex: 1;
}
.min {
  flex: 0 0 10%;
}

li {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}
button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: pointer;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
